:root {
  --color-primary: #f2f5f9;
  --color-secondary: #ff9c1a;
  --color-tertiary: #ec1b09;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
}

.header {
  padding: 2rem 10rem 0;
}

.content-wrapper {
  justify-content: center;
  display: flex;
  position: relative;
}

.profileCards {
  border-radius: 14px;
  min-height: 88vh;
  background: var(--color-white);
  padding: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile img {
  border-radius: 15px;
}

.profile > span {
  padding: 0.6rem;
  color: rgb(148 163 184);
}

.media {
  display: flex;
  gap: 0.6rem;
}

.card {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.btn-download {
  margin: 2rem;
  border: none;
}

.btn-a a {
  color: var(--color-white);
  text-decoration: none;
  border-radius: 22px;
  background: var(--color-secondary);
  padding: 0.8rem 1rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.media > a img {
  background: var(--color-primary);
  padding: 1.5rem;
  border-radius: 10px;
}

.wrapperCard {
  background: var(--color-primary);
  padding: 2.5rem;
  margin-top: 0.6rem;
  border-radius: 10px;
}

.wrapperContact {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.contacts p:nth-child(1) {
  color: rgb(148 163 184);
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 11%;
  right: 10%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  justify-content: center;
}

.menuNav {
  padding: 0.6rem 5rem;
  border: 2px solid gainsboro;
  border-radius: 12px;
  gap: 2rem;
  list-style-type: none;
  display: flex;
}

.navbar li:nth-child(1) a {
  border-radius: 20px;
  background: var(--color-secondary);
  padding: 1rem;
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.navbar ul li a {
  border-radius: 20px;
  background: #e1e8ef;
  padding: 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.about-me {
  margin-left: 1rem;
  padding: 1rem;
  width: 65%;
  background-color: var(--color-white);
  color: var(--color-white);
  border-radius: 12px;
  margin-top: 10rem;
  color: black;
  position: relative;
}

.about {
  padding-left: 3rem;
}

.wrapper-box {
  margin-top: 1rem;
}

.about-me-line {
  right: 662px;
  top: 5.4%;
  position: absolute;
  background: var(--color-secondary);
  width: 300px;
  height: 2px;
}

.about-me-p {
  margin-top: 1rem;
}

.about-me-h1 {
  padding-top: 0.8rem;
}

.about-me-box {
  gap: 1rem;
  display: flex;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.about-me-box h2 {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.box1 {
  background-color: #ffebd1;
  padding: 1rem;
  border-radius: 15px;
}

.box2 {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 15px;
}

.box3 {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 15px;
}
.box4 {
  background-color: #ffebd1;
  padding: 1rem;
  border-radius: 15px;
}

.about {
  max-height: 600px;
  overflow-y: auto;
}

.about::-webkit-scrollbar {
  width: 3px;
}

.about::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

.about::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

@media (max-width: 1689px) {
  .about-me-line {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100px;
  }
}

/* responsive-Large Desktop: */

@media (max-width: 1441px) {
  .header {
    padding: 2rem 5rem 0;
  }
}

/* responsive-Medium Laptop/Desktop */

@media (max-width: 1025px) {
  .content-wrapper {
    padding: 0 2rem;
  }

  .header {
    padding: 2rem 4rem 0;
  }

  .navbar {
    top: 5%;
    right: 8%;
  }

  .about-me {
    margin-top: 8rem;
  }

  .about {
    padding: 0;
  }
}

/* responsive-Small Tablet/Laptop: */

@media (max-width: 977px) {
  .profileCards {
    min-height: 0;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .navbar {
    position: static;
    transform: none;
  }

  .menuNav {
    border: none;
  }

  .navbar li:nth-child(1) a,
  .navbar ul li a {
    padding: 0.8rem;
  }

  .about-me {
    margin: 0;
    width: 100%;
  }
}

/* responsive-Mobile (Landscape) / Small Tablet: */

@media (max-width: 584px) {
  .about-me-line {
    width: 80px;
  }

  .about-me-box h2 {
    font-size: 1.4rem;
  }

  .about-me-box {
    display: block;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    padding: 1rem;
    margin: 1rem 0;
  }
}

@media (max-width: 360px) {
  .content-wrapper {
    width: 140%;
  }
}

@media (max-width: 1000px) {
  .navbar {
    top: 3%;
  }
}
